<div class="center-div">
  <div
    class="card"
    style="
      background-color: slategrey;
      border: 4mm ridge whitesmoke;
      width: 65%;
      min-width: 400px;
    "
  >
    <h3 style="font-size: 2em">
      <u> Meet the Team!</u>
    </h3>

    <p>Our professional team has been hard at work developing this project.</p>
    <br />
    <!-- <div class="container" style="background-color: bisque"> -->
    <div class="row">
      <div class="col" style="align-items: center" text-center>
        <div
          class="card"
          style="
            width: 95%;
            margin-bottom: 25px;
            min-width: 275px;
            max-width: 310px;
          "
        >
          <div class="card-body">
            <h4><u>KIT</u></h4>
            <img src="assets/ba1.png" width="150" height="150" />
            <br /><br />
            <p>
              Real estate & logistics expert. Retail & management experience.
              Small busines owner and early adopter of crypto. Kit is welcoming
              his first son in May and is excited to introduce baby rush as a
              2nd generation builder of web3
            </p>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : KIT#7151</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div
          class="card"
          style="
            width: 95%;
            margin-bottom: 25px;
            min-width: 275px;
            max-width: 310px;
          "
        >
          <div class="card-body">
            <h4><u>MAX</u></h4>

            <img src="assets/ba2.png" width="150" height="150" />
            <br /><br />
            <p>
              Internal business function, balance sheet, oversight internal &
              external financial operations. Traditional financial advisor
              w/team of business attorneys tax professionals and various other
              consultants. Small business owner.
            </p>
            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : MAX#7151</p>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div
          class="card"
          style="
            width: 95%;
            margin-bottom: 25px;
            min-width: 275px;
            max-width: 310px;
          "
        >
          <div class="card-body">
            <h4><u>JOSH</u></h4>

            <img src="assets/ba3.png" width="150" height="150" />
            <br /><br />
            <p>
              Social media, micro influencers, LA networking connections.
              Consultants for aspparel and high end mayerial. Extensive
              experience in management, retail & manufacturing.
            </p>
            <br />

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : JOSH#9084</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div
          class="card"
          style="
            width: 95%;
            margin-bottom: 25px;
            min-width: 275px;
            max-width: 310px;
          "
        >
          <div class="card-body">
            <h4><u>ERIC</u></h4>

            <img src="assets/ba4.png" width="150" height="150" />
            <br /><br />
            <p>
              Expert in smart contracts, layer 2 & erc 271, Web development &
              Security.PhD canidate and CISSP holder.
            </p>
            <br />
            <br />

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <br />

            <p>Discord ID : Webbrico#7151</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div
          class="card"
          style="
            width: 95%;
            margin-bottom: 25px;
            min-width: 275px;
            max-width: 310px;
          "
        >
          <div class="card-body">
            <h4><u>TBD</u></h4>

            <img src="assets/ba5.png" width="150" height="150" />
            <br /><br />
            <p>
              3-D print tech- 3-D rendering, supply and material expert.
              Machinist & manufacturing expert. Pioneer of 3-D printing
              techniques and different functions.
            </p>
            <br />

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <br />

            <p>Discord ID : silva.marcel#9084</p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
