<div class="center-div">
  <div
    class="card"
    style="
      background-color: slategrey;
      border: 4mm ridge whitesmoke;
      width: 65%;
      min-width: 400px;
    "
  >
    <div class="center-img">
      <br />
      <img
        src="../../assets/unfold.png"
        alt="unfold"
        height="100%"
        width="100%"
        style="border-radius: 50%"
      />
    </div>
    <div class="card-body">
      <h3 class="card-text" style="font-size: 2em">
        <u> Welcome to Project Unfold. </u>
      </h3>
      <br />
      <div class="row" style="margin-left: auto; margin-right: auto">
        <div class="center-div">
          <button class="favorite styled" type="button" (click)="saviors()">
            Team
          </button>
          &nbsp;
          <button class="favorite styled" type="button" (click)="roadmap()">
            Roadmap
          </button>
        </div>
      </div>

      <ul class="list-group">
        <li id="list" class="list-group-item">
          <p>
            Membership & ambassador to the unfold brand 3-D printed model of any
            NFT in your collection.
          </p>
        </li>
        <li id="list" class="list-group-item">
          <p>
            Access to alpha and WL spots for upcoming NFTs we partner with
            moving forward.
          </p>
        </li>
        <li id="list" class="list-group-item">
          <p>30% off storewide to NFT holders.</p>
        </li>
        <li id="list" class="list-group-item">
          <p>Future franchising opportunities available only to NFT holders.</p>
        </li>
        <li id="list" class="list-group-item">
          <p>
            Apparel or high end card stock print of and NFT in your collection.
          </p>
        </li>
        <li id="list" class="list-group-item">
          <p>
            Access to private/limited collaborations with well-known artists and
            NFT collections.
          </p>
        </li>
        <li id="list" class="list-group-item">
          <p>
            To protect optimize and grow as a brand we embolden our holders to
            do the same in their fungible life, access to a team of traditional
            financial advisors that will help develop a comprehensive financial
            plan for every holder that chooses. (first come first serve basis,
            upon mint date a scheduling tool will be made available and
            appointments will begin two weeks following mint date)
          </p>
        </li>
        <li id="list" class="list-group-item">
          <p>
            Metaverse items recreated in fungible form via apparel and 3-D
            printing. (ex. Super shotgun, neo Tokyo, critterz, etc…)
          </p>
        </li>
      </ul>

      <br />

      <br />
    </div>
  </div>
</div>
