<div class="center-div">
  <div
    class="card"
    style="
      background-color: slategrey;
      border: 4mm ridge whitesmoke;
      width: 65%;
      min-width: 400px;
    "
  >
    <div class="center-img">
      <br />
      <img
        src="assets/unfold.png"
        alt="unfold"
        height="100%"
        width="100%"
        style="border-radius: 50%"
      />
    </div>
    <div class="card-body">
      <h3 class="card-text" style="font-size: 2em">
        <u>Let the roadmap Unfold...</u>
      </h3>
      <br />
      <ul class="list-group">
        <li id="list" class="list-group-item">
          <h4><u>Q1</u></h4>
          <h6>
            strong emphasis on R&D, implementing marketing and social media
            strategies. Continuing to build strong brand and team from internal
            funding.
          </h6>
        </li>
        <li id="list" class="list-group-item">
          <h4><u>Q2</u></h4>

          <h6>
            Mint date, rapid growth and implementation of outside funding to
            achieve rapid scaling.
          </h6>
        </li>
        <li id="list" class="list-group-item">
          <h4><u>Q3</u></h4>
          <h6>TBD.</h6>
        </li>
        <li id="list" class="list-group-item">
          <h4><u>Q4</u></h4>
          <h6>TBD.</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
